<section *ngIf="tasks?.length" class="d-flex flex-column">
  <table id="table" class="table table-hover">
    <tr *ngFor="let task of tasks">
      <td *ngIf="canShowThisTask(task.isCompleted)" class="td-checkbox">
        <input
          type="checkbox"
          [checked]="task.isCompleted"
          class="form-check-input"
          (click)="updateTaskIsCompleted(task.taskId)"
        />
      </td>
      <td
        *ngIf="canShowThisTask(task.isCompleted)"
        class="font"
        [class.task-completed]="task.isCompleted"
      >
        {{ task.name }}
      </td>
      <td
        class="td-checkbox"
        *ngIf="selectedTasksType === 'completed' && task.isCompleted"
      >
        <button class="d-flex p-0 btn" (click)="removeTaskById(task.taskId)">
          <mat-icon class="icon">delete_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <button
    class="btn btn-danger align-self-end d-flex align-items-center justify-content-center btn-text"
    *ngIf="selectedTasksType === 'completed'"
    (click)="deleteAllTasks()"
  >
    <mat-icon class="m-0">delete_outline</mat-icon>
    delete all
  </button>
</section>
